<%- include ('partials/header.ejs') %>
    <%- include ('partials/navigation.ejs') %>

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>About Us</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                        <div class="image">
                            <img src="/assets/img/aboutus.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                            <h3>How it works</h3>

                            <p class="font-italic">
                                This project aims to retrieve all open access research results from repositories and journals around the world, through the implementation of Artificial Intelligence algorithms with Python and Flask as a framework for creating APIS, and NodeJS was integrated
                                for consume the APIs and for the visualization of the data making it available to the general public.
                            </p>
                            <ul>
                                <li><i class="bx bx-check-double"></i> CORE harvests research papers from data providers from all over the world including institutional and subject repositories, open access and hybrid journal publishers.</li>
                                <li><i class="bx bx-check-double"></i> CORE currently contains 205,554,079 open access articles, from thousands and over tens of thousands of journals, collected from 10,253 data providers around the world.</li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Us Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Development Tools</h2>

                </div>

                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                            <i><img src="/assets/img/python.png" alt="" class="img-responsive img-fluid" style="width: 48px; padding-bottom: 2rem;"></i>
                            <h4>Python</h4>
                            <p>Object Oriented Multiparadigm Language</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
                            <i><img src="/assets/img/flask.png" alt="" class="img-responsive img-fluid" style="width: 48px; padding-bottom: 2rem;"></i>
                            <h4>Flask</h4>
                            <p>Navigable API Implementation</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                            <i><img src="/assets/img/node.png" alt="" class="img-responsive img-fluid" style="width: 48px; padding-bottom: 2rem;"></i>
                            <h4>Node Js</h4>
                            <p>Multiplatform development environment (Back End and Front End)</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                            <i><img src="/assets/img/ejs.png" alt="" class="img-responsive img-fluid" style="width: 48px; padding-bottom: 2rem;"></i>
                            <h4>Ejs</h4>
                            <p>Template Engine</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                            <i><img src="/assets/img/boots.png" alt="" class="img-responsive img-fluid" style="width: 48px; padding-bottom: 2rem;"></i>
                            <h4>Bootstrap</h4>
                            <p>Cross-platform library or open source toolkit for website design and web applications</p>
                        </div>
                    </div>
                    <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/nodepython.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Featured Section ======= -->
        <section id="featured" class="featured">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Machine Learning algorithms</h2>

                </div>
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <figure>
                                    <img src="/assets/img/jaccard.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <figure>
                                    <img src="/assets/img/cosine2.png" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <figure>
                                    <img src="/assets/img/gpt2.png" alt="" class="img-fluid">
                                </figure>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                                    <h4>Jackard Distance</h4>

                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">
                                    <h4>Cosine Similarity</h4>

                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-toggle="tab" href="#tab-3">
                                    <h4>GPT-2</h4>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Featured Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Development Team</h2>
                    <p>Engineering Students in Computer Science</p>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="zoom-in">
                            <div class="member-img">
                                <img src="/assets/img/team/Andre2.jpeg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Andrea González</h4>
                                <span>Full Stack Developer</span>
                                <p>Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="member-img">
                                <img src="/assets/img/team/Anthony.jpg" class="img-fluid" alt="">
                                <div class="social">

                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Anthony Tandalla</h4>
                                <span>Full Stack Developer</span>
                                <p>I really enjoy learning and applying my knowledge, I love what I do</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Section -->
        <%- include ('partials/footer.ejs') %>