<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Knight Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="/assets/css/chatbot.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">


</head>

<body>


    <input type="button" name="bSubmit" class="btn text-white" style="background-color: #ffc107;" value="enviar" data-toggle="collapse" data-target="#asd" aria-expanded="false" aria-controls="asd">

    <div class="collapse" id="asd">
        <div class="card " style="background-color: transparent">
            Cargando
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="jumbotron-fluid listaSimilitud" id="" style="background-color: transparent">
            <div class="row justify-content-center mt-4 ">
                <div class="col-6 col-md-3 ">
                    <blockquote class="blockquote mb-0">
                        <div class="card bg-dark text-white ">
                            <img class="card-img img-responsive" src="/assets/img/carta.PNG" alt="Card image" style="max-width: 13rem;">
                            <div class="card-img-overlay justify-content-center">
                                <h6 class="card-title" style="color: black; padding-top: 0.1rem; font-size: 7.5px;">
                                    machine
                                </h6>
                            </div>
                        </div>
                    </blockquote>

                </div>
                <div class="col-12 col-sm-6 col-md-9">

                    <div class="card">
                        <div class="card-header">
                            <h5 style="color:rgb(5, 77, 145); font-size: 10px;">
                                machne
                            </h5>
                            <blockquote class="blockquote mb-0">
                                <h5 style="color:rgb(0, 0, 0); font-size: 9px;">Year
                                    <a href="" style="color:rgb(4, 106, 201)">
                                    2313
                                    </a>
                                </h5>
                                <h6 style="color:rgb(36, 36, 36);font-size: 9px;">By antho
                                </h6>
                                <footer class="blockquote">
                                    <a class="btn" style="color: #fff; background-color: #ad5401;" href="">Get PDF</a>

                                </footer>
                            </blockquote>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <strong><h4>Sami Yurak</h4></strong>
                    </div>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">

            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">Engineering Students </a><br> from the Salesian Polytechnic University of Ecuador
                <a href="#" id="addClass"><span class="glyphicon glyphicon-comment"></span> Open in chat </a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

</body>

</html>